{% extends "base.html" %}
{% load static %}
{% load cart_tools %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        {% if cart_items %}
        <div class="col-12">
            <table class="table table-borderless">
                <thead>
                    <tr>
                        <th scope="col">Picture</th>
                        <th scope="col">Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">Qty</th>
                        <th scope="col">Subtotal</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in cart_items %}
                    <tr>
                        {% if item.product.image_url %}
                        <td style="max-width:1vw;">
                            <img class="img-fluid" src="{{item.product.image_url}}">
                        </td>
                        {% elif item.product.image %}
                        <td style="max-width:1vw;">
                            <img class="img-fluid" src="{{item.product.image.url}}">
                        </td>
                        {% else %}
                        <td style="max-width:1vw;">
                            <img class="img-fluid" src="{{MEDIA_URL}}noimage.jpg">
                        </td>
                        {% endif %}
                        <td>{{item.product.name}}</td>
                        <td>{{item.product.price}}</td>
                        <td>
                            <form  class="form update-form" method="POST" action="{% url 'adjust_cart' item.item_id %}">
                                {% csrf_token %}
                            <div class="input-group">
                                <button class="decrement-qty btn btn-black rounded-0" data-item_id="{{ item.item_id }}"
                                    id="decrement-qty_{{ item.item_id }}">
                                    <span class="icon">
                                        <i class=" fs-4 fas fa-angle-left"></i>
                                    </span>
                                </button>
                                <input class="form-control qty_input input-lenght" type="number" name="quantity" value="{{item.quantity}}" min="1" max="99"
                                    data-item_id="{{ item.item_id }}" id="id_qty_{{ item.item_id  }}">
                                <button class="increment-qty btn btn-black rounded-0" data-item_id="{{ item.item_id }}"
                                    id="increment-qty_{{ item.item_id }}">
                                    <span class="icon">
                                        <i class="fs-4 fas fa-angle-right"></i>
                                    </span>
                                </button>
                            </div>
                            </form>
                            <a class=" update-quantity text-warning float-start ms-3 text-decoration-none"><small>Update</small></a>
                            <a class="remove-items text-danger float-end me-3 text-decoration-none"
                                id="remove_{{ item.item_id}}"><small>Remove</small></a>
                        </td>
                        <td>{{item.product.price | calc_subtotal:item.quantity}}</td>
                    </tr>
                    {% endfor %}
                    <tr>
                       <td colspan="5" class="text-end">
                        <h5 class="me-5">Cart Total:<strong> {{total}} </strong></h5>
                        <h5 class="me-5">Delivey:<strong> {{delivery|floatformat:2}} </strong></h5>
                        <h5 class="me-5"> Grand Total:<strong> {{grand_total|floatformat:2}} </strong></h5>
                       </td>
                    </tr>
                </tbody>
            </table>
            <div class="d-grid gap-2 d-md-block float-lg-end float-md-end float-xxl-end me-lg-5 me-md-5">      
                <a href="{% url 'products' %}" class="btn btn-style text-uppercase mt-2" type="button">Keep Shopping</a>
                <a href="{% url 'checkout' %}" class="btn btn-style text-uppercase mt-2" type="submit">Secure Checkout</a>
                <input type="hidden" name="redirect_url" value="{{ request.path }}">
            </div> 
        </div>
    </div>
    {% else %}
        <h4 class="m-5">Your cart is Empty</h4>
    {% endif %}
</div>

{%endblock%}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_script.html' %}


<!-- This code was copied from code instite e-commerce project -->
<script type="text/javascript">
    // Update quantity on click
    $('.update-quantity').click(function() {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-items').click(function (e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var size = $(this).data('product_size');
        var url = `/cart/remove/${itemId}/`;
        var data = { 'csrfmiddlewaretoken': csrfToken, 'product_size': size };

        $.post(url, data)
            .done(function () {
                location.reload();
            });
    })
    
</script>
{% endblock %}