{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <table class="table table-borderless">
                <thead>
                    <tr>
                        <th scope="col">Picture</th>
                        <th scope="col">Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">Qty</th>
                        <th scope="col">Subtotal</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in cart_items %}
                    <tr>
                        {% if item.product.image_url %}
                        <td style="max-width:1vw;">
                            <img class="img-fluid" src="{{item.product.image_url}}">
                        </td>
                        {% elif item.product.image %}
                        <td style="max-width:1vw;">
                            <img class="img-fluid" src="{{item.product.image.url}}">
                        </td>
                        {% else %}
                        <td style="max-width:1vw;">
                            <img class="img-fluid" src="{{MEDIA_URL}}noimage.jpg">
                        </td>
                        {% endif %}
                        <td>{{item.product.name}}</td>
                        <td>{{item.product.price}}</td>
                        <td>{{item.quantity}}</td>
                        <td>{{item.product.price}}</td>
                    </tr>
                    {% endfor %}
                    <tr>
                       <td colspan="5" class="text-end">
                        <h5 class="me-5">Cart Total:<strong> {{total}} </strong></h5>
                        <h5 class="me-5">Delivey:<strong> {{delivery|floatformat:2}} </strong></h5>
                        <h5 class="me-5"> Grand Total:<strong> {{grand_total|floatformat:2}} </strong></h5>
                       </td>
                    </tr>
                </tbody>
            </table>
            <div class="d-grid gap-2 d-md-block float-lg-end float-md-end float-xxl-end me-lg-5 me-md-5">      
                <a href="{% url 'products' %}" class="btn btn-style text-uppercase mt-2" type="button">Keep Shopping</a>
                <button class="btn btn-style text-uppercase mt-2" type="submit">Secure Checkout</button>
                <input type="hidden" name="redirect_url" value="{{ request.path }}">
            </div> 
        </div>
    </div>
</div>

{%endblock%}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_script.html' %}
{% endblock %}