{% extends 'base.html' %}
{% load static %}


{% block extra_css %}
<link rel="stylesheet" href="{% static 'profiles/css/profile.css' %} ">
{% endblock %}

{% block content %}
<!-- Profile page -->
<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center p-0 m-0">
            <hr class="hr-class my-1">
            <h3 class="logo-font"> My Profile</h3>
            <hr class="hr-class my-1">
        </div>
    </div>
    <div class="row">
    <div class="col-12 col-lg-6">
        <form action="{% url 'profile' %}" method="POST" class="profile-form m-5">
            <p>Default delivery information</p>
            {% csrf_token %}
           {{ form | crispy }}
           <button class="btn btn-style mt-3">Update Profile</button>
        </form>
    </div>
    <div class="col-12 col-lg-6">
        <p class="text-muted">Order History</p>
            <div class="order-history table-responsive">
                <table class="table table-sm table-borderless">
                    <thead>
                        <tr>
                            <th>Order Number</th>
                            <th>Date</th>
                            <th>Items</th>
                            <th>Order Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in orders %}
                        <tr>
                            <td>
                                <a href="" title="{{ order.order_number }}">
                                    {{ order.order_number|truncatechars:6 }}
                                </a>
                            </td>
                            <td>{{ order.date }}</td>
                            <td>
                                <ul class="list-unstyled">
                                    {% for item in order.lineitems.all %}
                                    <li class="small">
                                        {% if item.product.has_sizes %}
                                        Size {{ item.product.size|upper }}
                                        {% endif %}{{ item.product.name }} x{{ item.quantity }}
                                    </li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <td>${{ order.grand_total }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block postloadjs %}
<script src="{% static 'profiles/js/country_field.js' %}"></script>
{% endblock %}