{% extends 'base.html' %}
{% load static %}


{% block extra_css %}
<link rel="stylesheet" href="{% static 'profiles/css/profiles.css' %} ">
{% endblock %}

{% block content %}
<!-- Products page -->
<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center p-0 m-0">
            <hr class="hr-class my-1">
            <h3 class="logo-font">My Profile</h3>
            <hr class="hr-class my-1">
        </div>
    </div>
    <div class="col-12">
    </div>
    <div class="row">

    </div>
</div>

{% endblock %}