{% extends 'base.html' %}
{% load static %}


{% block extra_css %}
<link rel="stylesheet" href="{% static 'profiles/css/profile.css' %} ">
{% endblock %}

{% block content %}
<!-- Profile page -->
<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center p-0 m-0">
            <hr class="hr-class my-1">
            <h3 class="logo-font"> Updated</h3>
            <hr class="hr-class my-1">
        </div>
    </div>
    <div class="col-12">
        <h3 class="mt-5 text-center">Thank your Profile has been updated</h3>
    </div>
</div>
{{ message }}
{% endblock %}
{% block postloadjs %}
<script src="{% static 'profiles/js/country_field.js' %}"></script>
{% endblock %}