{% extends 'base.html' %}
{% load static %}
{% load bootstrap5 %}
{% load cart_tools %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/checkout.css' %} ">
{% endblock %}

{% block content %}
<!-- Products page -->
<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center p-0 m-0">
            <hr class="hr-class my-1">
            <h3 class="logo-font">Checkout</h3>
            <hr class="hr-class my-1">
        </div>
    </div>
    <div class="col-12">
        <p>Please fill out the required information</p>
    </div>    
        <div class="row">
        <div class="col-lg-8 col-xxl-7  mx-auto" >
        <form action="{% url 'checkout' %}" method="POST" class="form" id="payment-form">
            {% csrf_token %}
            {% bootstrap_form order_form %}
         
                    <fieldset class="px-3">
                        <legend class="fieldset-label small text-black px-2 w-auto">Payment</legend>
                        <!-- A Stripe card element will go here -->
                        <div class="mb-3" id="card-element"></div>
                        <!-- Used to display form errors -->
                        <div class="mb-3 text-danger" id="card-errors" role="alert"></div>
                        <!-- Pass the client secret to the view so we can get the payment intent id -->
                        <input type="hidden" value="{{ client_secret }}" name="client_secret">
                    </fieldset>
    
                    <div class="submit-button text-right mt-5 mb-2">
                        <a href="{% url 'view_cart' %}" class="btn btn-outline-black rounded-0">
                            <span class="icon">
                                <i class="fas fa-chevron-left"></i>
                            </span>
                            <span class="font-weight-bold">Adjust Cart</span>
                        </a>
                        <button id="submit-button" class="btn btn-black rounded-0">
                            <span class="font-weight-bold">Complete Order</span>
                            <span class="icon">
                                <i class="fas fa-lock"></i>
                            </span>
                        </button>
                        <p class="small text-danger my-0">
                            <span class="icon">
                                <i class="fas fa-exclamation-circle"></i>
                            </span>
                            <span>Your card will be charged <strong>${{ grand_total|floatformat:2 }}</strong></span>
                        </p>
                    </div>
                    {% buttons %}
                    <button type="submit" class="btn btn-primary">Submit</button>
                    {% endbuttons %}
                </form>
            </div>
        
        </div>
        </div>

{% endblock %}