.nav-bg {
    background:#000F9A !important;
}
.nav-nav{
    width:150px!important;
}

.mystyle {
  width: 60vw!important;
  background-color: coral;
  margin-left:10px;
  color: white;
  font-size: 25px;
}
.flexbox-container {
    display:flex;
    justify-content:space-evenly;
    align-items:center;
}