/*--------------------------------------------- HEADER----------*/
.nav-bg {
    background:#000F9A !important;
}

.nav-nav{
    width:150px!important;
}

.align-button-and-cart {
    display:flex;
    justify-content:space-evenly;
    align-items:center;
}

.align-iconss {
    display:flex;
    justify-content:space-evenly;
    align-items:center;
}
.nav-item-1 {
    width:100px;
}

.nav-item-2 {
     width:100px; 
}

.nav-item-3 {
     width:100px;
     height:68px;
}
.expand-search-box {
    width:70vw;
}
/*--------------------------------------------- HEADER----------*/
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  float:left;
  width:100%;
  height:auto;
  object-fit:cover;
}

@media (min-width: 992px) {
    .hide-ul {
      display:none;
    }

    .header-container {
        padding-top: 164px;
    }
}