{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center p-0 m-0">
            <hr class="hr-class my-1">
            <h3 class="logo-font">Success</h3>
            <hr class="hr-class my-1">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 m-5">
            <div class="float-end m-5">
                <p class="mx-auto fs-5"> Sorry!!! Somethink went wrong. Please try later.
                    subscription</p>
                <a class="btn btn-style" href="{% url 'subscription_plans' %}" id="submitBtn" >Buy Subscription</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

