{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid">
    {% if subscription.status == "active" %}
    <div class="row">
        {% for exercise in exercises %} 
                <div class="col-sm-12 col-md-6 col-lg-3 p-0 m-0 card-group">
                    <div class="card h-100">
                        {% if exercise.hero_image %}
                        <a href="{% url 'exercise_details' exercise.id %}">
                            <img class="card-img-top img-fluid h-100" src="{{exercise.hero_image}}" alt="{{exercise.name}}">
                        </a>
                        {% elif exercise.image %}
                        <a href="">
                            <img class="card-img-top img-fluid h-100" src="{{exercise.image.url}}" alt="{{exercise.name}}">
                        </a>
                        {% else %}
                        <a href="">
                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{exercise.name}}">
                        </a>
                        {%endif%}
                        <div class="card-body">
                            <p class="card-text text-center fs-5"> <strong>{{exercise.name}}</strong></p>
                        </div>
                        <div class="text-center card-footer-light mb-2">
                            <span class="card-text text-center ">Rating: {{exercise.rating}}</span>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:1 %}
                <div class="col-12 d-sm-none mb-5">
                    <hr>
                </div>
                {% endif %}
                {% if forloop.counter|divisibleby:2 %}
                <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                    <hr>
                </div>
                {% endif %}
                {% if forloop.counter|divisibleby:3 %}
                <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                    <hr>
                </div>
                {% endif %}
                {% if forloop.counter|divisibleby:4 %}
                <div class="col-12 d-none d-xl-block mb-5">
                    <hr>
                </div>
                {% endif %}
                {% endfor %}
            
            </div>
        {% endif %}
      
  
{% endblock %}
{% block postloadjs %}

{% endblock %}