{% load static %}

<!doctype html>
<html lang="en">

<head>

	{% block meta %}
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	{% endblock %}

	{% block extra_meta %}
	{% endblock %}

	{% block corecss %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">  
    {% endblock %}

    {% block extra_css %}
    
	{% endblock %}

    {% block corejs %}
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
	<script src="https://kit.fontawesome.com/e9c73d7092.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
	{% endblock %}

    {% block extra_js %}
    <script src="https://js.stripe.com/v3/"></script>
	{% endblock %}

	<title>Fitness World {% block extra_title %}{% endblock %}</title>
</head>


<body>
<!-- The top header which will disapear in in smaller windows, will be converted in the Icons only-->
<header class="container-fluid m-0 p-0 my-auto">
    <!-- Logo-->
<div class="d-none d-lg-inline my-auto">
    <div class="row">
        <div class="col-lg-4 my-auto">
            <a class="nav-link" href="{% url 'home' %}">
                <h2 class="logo-font text-dark">Fitness Workd</h2>
            </a>     
        </div>
        <div class="col-lg-4 text-center my-auto">
            <form method="GET" action="{% url 'products' %}">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="search for a product" name="q" aria-label="search for a product" aria-describedby="search-product">
                    <button class="btn btn-outline-warning" type="submit" id="search-product">Search</button>
                </div>
            </form>
        </div>
        <!-- My account button -->
        <div class="col-lg-4 align-button-and-cart">
            <div class="btn-group">
                <ul class="list-unstyled m-0 my-auto">
                    <li class="list-inline-item">
                        <button type="button" class="btn btn-danger">My account</button>
                        <button type="button" class="btn btn-warning dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="visually-hidden">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu">
                            {% if request.user.is_authenticated %}
                            {% if request.user.is_superuser %}
                            <a href="{% url 'add_product' %}" class="dropdown-item">Product Management</a>
                            {% endif %}
                            <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                            <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                            {% else %}
                            <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                            <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                            {% endif %}
                        </ul>
                    </li>
                    <!--Here will be displayed the shopping cart amount-->
                    <li class="list-inline-item align-middle">
                        <a class="text-dark fs-3 {% if grand_total %}text-primary font-weight-bold{% else %}text-black{% endif %}" href="{% url 'view_cart' %}">
                            <i class="fas fa-shopping-cart"></i><span> </span>
                            <span class="list-inline-item align-midle">
                               {% if grand_total %}
                                £{{ grand_total|floatformat:2 }}
                                {% else %}
                                £0.00
                                {% endif %}
                            </span>
                        </a>
                    </li>
                </ul>        
            </div>
        </div>
    </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark nav-bg">
    <div class="container-fluid d-flex">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>      
        <ul class=" hide-ul list-unstyled list-inline mx-auto align-iconss my-auto w-75">
            {% include 'includes/mobile-nav-header.html' %}
        </ul>
        <div class="collapse navbar-collapse" id="main-nav">
            <ul class="navbar-nav list-unstyled mx-auto">           
                {% include 'includes/main-nav.html' %}  
               
            </ul>
        </div>
        </div>
</nav>
</header>

    {% if messages %}
    <div class="messages-block"></div>
    {%endif%}

	{% block page_header %}
	{% endblock %}

	{% block content %}
	{% endblock %}

    {% block postloadjs %}
	{% endblock %}


</body>

</html>

