{% extends 'base.html' %}
{% load static %}
{% load bootstrap5 %}
{% load cart_tools %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %} ">
{% endblock %}

{% block content %}
<!-- Products page -->
<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center p-0 m-0">
            <hr class="hr-class my-1">
            <h3 class="logo-font">Product Management</h3>
            <hr class="hr-class my-1">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-xxl-7 mx-auto">
            <h2 class="mt-2">Update Product</h2>
            <form method="POST" action="{% url 'edit_product' product.id %}" enctype="multipart/form-data" class="no-labels">
                <h4 class="my-4">Please fill out the required information</h4>
                {% csrf_token %}
                {% for field in form %}
                {% if field.name != 'image' %}
                {{ field | as_crispy_field }}
                {% else %}
                {{ field }}
                {% endif %}
                {% endfor %}
                <button class="btn btn-style mt-3" type="submit">UPDATE</button>
                <button class="btn btn-style mt-3" type="submit">CANCEL</button>
            </form>
        </div>
    </div>
</div>


{% endblock %}

{% block postloadjs %}
<script type="text/javascript">
    $('#new-image').change(function () {
        var file = $('#new-image')[0].files[0];
        $('#filename').text(`Image will be set to: ${file.name}`);
    });
</script>
{{ block.super }}
{{ stripe_public_key|json_script:"id_stripe_public_key" }}
{{ client_secret|json_script:"id_client_secret" }}
<script src="{% static 'checkout/js/stripe_elements.js' %} "></script>
{% endblock %}